:root {
  --blue: #13154e;
  --creme: #edccad;
  --coral: #FF7F50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100dvh 100dvh;
}

.first-page-container {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 10dvh 35dvh 30dvh 5dvh 20dvh;
  overflow: hidden;
}

header {
  background-color: var(--blue);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}

.logo {
  color: var(--creme);
  margin: 0;
  font-size: 2.5em;
  font-family: 'Grand Hotel', cursive;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav img {
  width: 2em;
}

.menu {
  position: absolute;
  transform: translateY(-300%);
  transition: transform 0.2s;
  top: 0;
  /*bottom: 0;*/
  right: 0;
  z-index: 99;
  background-color: #13154e;
  list-style: none;
  padding: 1em;
  width: 100dvw;
  text-align: center;
}

.menu li{
  padding-bottom: 15px;
}

.menu a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: #edccad;
}

.showMenu {
  transform: translateY(10dvh);
}

.player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  opacity: 0.95;
}

.player {
  background-color: var(--blue);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1.5em;
  padding-top: 0.8em;
}

/* Play button */

input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label {
  display: grid;
  border: none;
  background-color: gray;
  --w: 100px;
  width: var(--w);
  height: var(--w);
  border-radius: 50%;
  place-items: center;
  cursor: pointer;
}

.play_pause_icon {
  --w: 50%;
  width: var(--w);
  height: var(--w);
  background: white;
  translate: 0 0;
  transition: all 0.2s ease-in-out;
}

.play {
  clip-path: polygon(20% 0,
      20% 100%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%);
  translate: 6% 0;
}

.playbutton:has(input:checked) .play_pause_icon,
.pause {
  clip-path: polygon(0 0,
      0 100%,
      33.33% 100%,
      33.33% 0,
      66.66% 0,
      100% 0,
      100% 100%,
      66.66% 100%,
      66.66% 0);
  translate: 0 0;
}

.play-2 {
  clip-path: polygon(20% 0,
      20% 100%,
      35% 90%,
      35% 90%,
      35% 90%,
      90% 50%,
      35% 10%,
      35% 10%,
      35% 10%);
  translate: 6% 0;
}

/* end play button */


/* start playing animation */
.loader {
  height: 30px;
  /* display:flex; */
  align-items: center;
  justify-content: center;

}

.loader .stroke {
  display: block;
  position: relative;
  background: var(--creme);
  height: 100%;
  width: 8px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

/* end playing animation */

.now-playing {
  text-wrap: wrap;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 2em;
  text-align: center;
  color: var(--creme);
}


/* Slideshow container */
.slideshow-container {
  margin-bottom: -0.5em;
}

.slideshow-container img {
  
  max-height: 30dvh;
  margin: 0;
}

.desk-slides-container {
  display: flex;
}

.desk-slides-container img {
  max-height: 30dvh;
}

@media screen and (max-width: 320px) {
  .desk-slides-container {
    display: none;
  }
}

@media screen and (min-width: 321px) {
  .slideshow-container {
    display: none;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* Shows Gallery */

.shows-heading {
  text-align: center;
  font-family: 'Grand Hotel', sans-serif;
  background-color: #FF7F50;
  color: #13154e;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.shows {
  height: 20dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shows img, .shows-page-title img {
  width: 100%;
  
}


/* .item-1 {
  background-image: url('images/shows.jpeg'); 
}*/

/* .item-2 {
  background-image: url(images/show2-bw.jpeg);
}

.item-3 {
  background-image: url(images/show3-bw.jpeg);
}

.item-4 {
  background-image: url(images/show4-bw.jpeg);
} */

.messaging-footer {
  display: grid;
  grid-template-columns: 75% 25%;
}

.messaging {
  padding-top: 0em;
  justify-self: stretch;

}

.messaging p {
  font-size: 1, 2rem;
  display: flex;
  justify-content: center;

  font-size: 0.7rem;


}

.messaging ul {
  margin-left: 2em;
  padding: 1em 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.messaging li {
  text-wrap: wrap;
  font-size: 0.7rem;
}

.home-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn img {
  width: 2em;
}

.shows-page-container {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 10dvh 14dvh 76dvh;
}

.shows-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shows-inner-container {
  display: flex;
  flex-direction: column;
}

.show-banner {
  flex: 1 0 19dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid var(--coral);
  background-color: #13154e;
  color: #edccad;
}

.show {
  background-color: #13154e;
}

.hidden {
  display: none;
}

