:root {
  --blue: #13154e;
  --creme: #edccad;
  --coral: #FF7F50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100dvh 100dvh;
}

.first-page-container {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 10dvh 35dvh 30dvh 5dvh 20dvh;
  overflow: hidden;
}

header {
  background-color: var(--blue);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}

.logo {
  color: var(--creme);
  margin: 0;
  font-size: 2.5em;
  font-family: 'Grand Hotel', cursive;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav img {
  width: 2em;
}

.menu {
  position: absolute;
  transform: translateY(-300%);
  transition: transform 0.2s;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: var(--blue);
  list-style: none;
  padding: 1em;
  width: 100dvw;
  text-align: center;
}

.menu li{
  padding-bottom: 15px;
}

.menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--creme);
}

.showMenu {
  transform: translateY(10dvh);
}

.player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  opacity: 0.95;
}

.player {
  background-color: var(--blue);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1.5em;
  padding-top: 0.8em;
}

/* Play button */

input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label {
  display: grid;
  border: none;
  background-color: gray;
  --w: 100px;
  width: var(--w);
  height: var(--w);
  border-radius: 50%;
  place-items: center;
  cursor: pointer;
}

.play_pause_icon {
  --w: 50%;
  width: var(--w);
  height: var(--w);
  background: white;
  translate: 0 0;
  transition: all 0.2s ease-in-out;
}

.play {
  clip-path: polygon(20% 0,
      20% 100%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%);
  translate: 6% 0;
}

.playbutton:has(input:checked) .play_pause_icon,
.pause {
  clip-path: polygon(0 0,
      0 100%,
      33.33% 100%,
      33.33% 0,
      66.66% 0,
      100% 0,
      100% 100%,
      66.66% 100%,
      66.66% 0);
  translate: 0 0;
}

.play-2 {
  clip-path: polygon(20% 0,
      20% 100%,
      35% 90%,
      35% 90%,
      35% 90%,
      90% 50%,
      35% 10%,
      35% 10%,
      35% 10%);
  translate: 6% 0;
}

/* end play button */


/* start playing animation */
.loader {
  height: 30px;
  /* display:flex; */
  align-items: center;
  justify-content: center;

}

.loader .stroke {
  display: block;
  position: relative;
  background: var(--creme);
  height: 100%;
  width: 8px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

/* end playing animation */

.now-playing {
  text-wrap: wrap;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 2em;
  text-align: center;
  color: var(--creme);
}

.schedule {
  background-color: var(--blue);

}

/* Slideshow container */
.slideshow-container {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.slideshow-container img {
  
  max-height: 30dvh;
  margin: 0;
}


.desk-slides-container {
  overflow: hidden;
  user-select: none;
  max-width: 100dvw;
  --gap: 0px;
  display: flex;
  gap: var(--gap);
}

.desk-slides-container ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.desk-slides-container img {
  max-height: 30dvh;
}

@media screen and (max-width: 430px) {
  .desk-slides-container {
    display: none;
  }
}

@media screen and (min-width: 431px) {
  .slideshow-container {
    display: none;
    
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* Shows Section */

.shows-heading {
  text-align: center;
  font-family: 'Grand Hotel', sans-serif;
  background-color: var(--coral);
  color: var(--blue);
}

.shows, .shows-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('./images/shows.jpeg');
  box-shadow: 0 0 5px 5px black inset;
  background-size: cover;
}

.shows img, .shows-page-title img {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

#shows-library-img {
  border: none;
  box-shadow: 0 0 5px 5px black inset;

}

.messaging-footer {
  display: grid;
  grid-template-columns: 75% 25%;
}

.messaging {
  padding-top: 0em;
  justify-self: stretch;

}

.messaging p {
  font-size: 1, 2rem;
  display: flex;
  justify-content: center;

  font-size: 0.7rem;


}

.messaging ul {
  margin-left: 2em;
  padding: 1em 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.messaging li {
  text-wrap: wrap;
  font-size: 0.7rem;
}

.home-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn img {
  width: 2em;
}

/* Shows.html */

.shows-page-container {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 10dvh 14dvh 76dvh;
}

.shows-inner-container {
  display: flex;
  flex-direction: column;
}

.show-banner {
  flex: 1 0 19dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  border: 1px solid var(--coral);
  background-color: var(--blue);
  color: var(--creme);

}

.show {
  background-color: var(--blue);
}

#show1 {
  background-position: 0.2em;
  background-color: #13154e;
  background-image: url('./images/mic.svg');
  background-size: 12dvh;
  background-repeat: no-repeat;
  
}

#show2 {
  background-position: left;
  background-color: #a2b8d2;
  color: var(--blue);
  background-image: url('./images/guitar.svg');
  background-size: 17dvh;
  background-repeat: no-repeat;
  background-position: 0em 0.9em; 

}


#show3 {
  background: #DC143C;
  color: white;
  background-image: url('./images/heart.svg');
  background-size: 12dvh;
  background-repeat: no-repeat;
  background-position: 0.2em 0.9em; 
}

#show4 {
  background-color: #008080;
  background-image: url('./images/globe.svg');
  background-size: 16dvh;
  background-repeat: no-repeat;
  background-position: 0.2em 0.3em; 
}

.hidden {
  display: none;
}

/* About.html */

.about-page-container {
  width: 100dvw;
  display: grid;
  grid-template-rows: 10dvh;
  gap: 2rem;
  background-color: #13154e;
  padding-bottom: 3rem;
}


.about-content {
  justify-self: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  color: var(--creme);
  padding: 0 2rem;
}
