:root {
    --blue: #13154e;
    --creme: #edccad;
    --coral: #FF7F50;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: 10dvh 35dvh 235px;
    
}

header {
    background-color: var(--blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

.logo {
    color: var(--creme);
    margin: 0;
    font-size: 2.5em;
    font-family: 'Grand Hotel', cursive;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav img {
    width: 2.5rem
}

menu {
    display: none;
}

.player {
    background-color: var(--blue);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 1.5em;
    padding-top: 0.8em;
}

/* Play button */


input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  label {
    display: grid;
    border: none;
    background-color: gray;
    --w: 100px;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
  }
  
  .play_pause_icon {
    --w: 50%;
    width: var(--w);
    height: var(--w);
    background: white;
    translate: 0 0;
    transition: all 0.2s ease-in-out;
  }
  
  .play {
    clip-path: polygon(
      20% 0,
      20% 100%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%
    );
    translate: 6% 0;
  }
  
  .playbutton:has(input:checked) .play_pause_icon,
  .pause {
    clip-path: polygon(
      0 0,
      0 100%,
      33.33% 100%,
      33.33% 0,
      66.66% 0,
      100% 0,
      100% 100%,
      66.66% 100%,
      66.66% 0
    );
    translate: 0 0;
  }
  
  .play-2 {
    clip-path: polygon(
      20% 0,
      20% 100%,
      35% 90%,
      35% 90%,
      35% 90%,
      90% 50%,
      35% 10%,
      35% 10%,
      35% 10%
    );
    translate: 6% 0;
  }

  /* end play button */


  /* start playing animation */

  .loader {
    height: 30px;
    /* display:flex; */
    align-items: center;
    justify-content: center;
    
  }

  .loader .stroke {
    display: block;
    position:relative;
    background: var(--creme);
    height: 100%;
    width: 8px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;
  }

  @keyframes animate {
    50%{
        height: 20%;
    }

    100%{
        height: 100%;
    }
  }

  .stroke:nth-child(1) {
    animation-delay: 0s;
  }

  .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }

  .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }

  .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }

  .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }

  .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }

  .stroke:nth-child(7) {
    animation-delay: 0s;
  }

  /* end playing animation */

.now-playing {
  text-wrap: wrap;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 2em;
  text-align: center;
  color: var(--creme);
}

.schedule {
    background-color: rgba(255,127,80,0.7);
    
}

/* Slideshow container */
.slideshow-container {
    max-width: 100dvw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slideshow-container img {
    width: 100%;
    height:auto;
    margin: 0 auto;
    position: relative;
  }
 
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } 
